$text-white: #fff;
$text-purple: #7f8dff;
$text-grey: #666;
$text-darkGrey: #333;

$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;

$background-color-white: #fff;
$background-color-purple: #7f8dff;
$background-color-creamWhite: #FFF2E9;
$background-color-bleue: #616ce1;
$background-color-lightPurple: #d6daff;